@page "/new-project"
@inject IService<DataLayer.Entities.Project> ProjectService

<h3>NewProject</h3>

<EditForm Model="projectModel" OnValidSubmit=Submit>
    <DataAnnotationsValidator />
    <label>Project title:</label>
    <InputText @bind-Value=@projectModel.Title></InputText>
    <label>Project description:</label>
    <InputTextArea @bind-Value=@projectModel.Description></InputTextArea>
    @if (!string.IsNullOrEmpty(projectModel.ImageBase64))
    {
        <img src="data:image/jpeg;base64, @projectModel.ImageBase64" />
    }
    <InputFile OnChange="Loading" oncancel=@Clear>Select image</InputFile>
    <button type="submit">
        Create
    </button>
</EditForm>

@code {
    DataLayer.Entities.Project? projectModel = new();

    private async Task Loading(InputFileChangeEventArgs e)
    {
        var image = await e.File.RequestImageFileAsync("image/png", 300, 300);

        var buffer = new byte[image.Size];

        await image.OpenReadStream(1024 * 1024 * 5).ReadAsync(buffer);

        projectModel.ImageBase64 = Convert.ToBase64String(buffer);

        StateHasChanged();
    }

    private async Task Submit()
    {
        await ProjectService.Post(projectModel!);

        NavManager.NavigateTo("projects");
    }

    private void Clear()
    {
        projectModel.ImageBase64 = null;
    }
}
