@page "/new-project"
@inject IProjectService ProjectService

<h3>NewProject</h3>

<EditForm Model="projectModel" OnValidSubmit=Submit>
    <DataAnnotationsValidator />
    <InputText @bind-Value=@projectModel.Title></InputText>
    <ValidationMessage For="()=>projectModel.Title"></ValidationMessage>
    <InputTextArea @bind-Value=@projectModel.Description></InputTextArea>
    <ValidationMessage For="(()=>projectModel.Description)"></ValidationMessage>
    <img src="data:image/jpeg;base64, @projectModel.ImageBase64"/>
    <InputFile OnChange="Loading">Select image</InputFile>
    <button type="submit">
        Create
    </button>
    <button @onclick="Clear">Clear</button>
</EditForm>


@code {
    DataLayer.Entities.Project? projectModel = new();

    private async Task Loading(InputFileChangeEventArgs e)
    {
        var image = await e.File.RequestImageFileAsync("image/png", 300, 300);

        var buffer = new byte[image.Size];

        await image.OpenReadStream(1024 * 1024 * 5).ReadAsync(buffer);

        projectModel.ImageBase64 = Convert.ToBase64String(buffer);

        StateHasChanged();
    }

    private async Task Submit()
    {
        var result = await Js.InvokeAsync<bool>("confirm", "Create new project?");

        if (result)
        {
            await ProjectService.Post(projectModel!);

            NavManager.NavigateTo("projects");
        }
    }

    private void Clear()
    {
        projectModel.ImageBase64 = "";
    }
}
