@page "/requests"
@inject HttpClient client
@using System.Drawing;

<h3>Requests</h3>

<img src = "data:image/jpg;base64,@imgstring"/>

@if(requests.Count() < 1)
{
    <span> Loading </span>
}
else
{
    
    <ul>
        @foreach (var req in requests)
        {
            <li>

            </li>
        }
    </ul>
}





@code {
    IEnumerable<Project> requests = new List<Project>();

    string imgstring;

    protected override async Task OnInitializedAsync()
    {
        var result = await client.GetFromJsonAsync<IEnumerable<Project>>("api/project");

        imgstring = result.FirstOrDefault().Image;

        if (result != null)
            requests = result;
    }
}
